<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nowy Progress Bar</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white flex flex-col items-center p-6">
    <h1 class="text-3xl font-bold mb-4">Twój pasek postępu został utworzony!</h1>

    <p class="mt-2">🔗 Link do podglądu: <a href="{{ public_link }}" class="text-blue-400 underline">{{ public_link }}</a></p>
    <p class="mt-2">🔒 Link do zarządzania: <a href="{{ admin_link }}" class="text-red-400 underline">{{ admin_link }}</a></p>

    <div class="mt-4">
        <a id="download-link"
           href="data:text/plain;charset=utf-8,Link%20do%20podgl%C4%85du:%20{{public_link}}%0ALink%20do%20zarz%C4%85dzania:%20{{admin_link}}"
           download="linki.txt"
           class="bg-blue-500 text-white px-4 py-2 rounded-md text-xl">
           Pobierz linki
        </a>
    </div>
    
    
    

    <a href="/" class="mt-6 text-green-400 underline">🔄 Utwórz nowy</a>

    <script>
        const downloadLink = document.getElementById('download-link');
        let canDownload = true;

        downloadLink.addEventListener('click', function(event) {
            if (!canDownload) {
                event.preventDefault(); // Zatrzymaj kliknięcie
                alert('Musisz poczekać 5 sekund przed kolejnym pobraniem.');
                return;
            }

            // Blokada na 5 sekund
            canDownload = false;
            setTimeout(function() {
                canDownload = true;
            }, 5000);
        });
    </script>
</body>
</html>
